@media(max-width: 661px){
	.filter-form{
		flex-grow: 2;
		&--select{
			max-width: 50%;
		}
		&--search{
			flex-grow: 2;
			max-width: 100%;
			margin-top: 7px;

			input{
				width:100%!important;
			}
		}
	}
}
