.filter-form{
	display: flex;
	margin-bottom: 0;
	.form-control{
		width: 120px;
		height: 30px;
	}
	label{
		margin-right: 10px;
		position: relative;
		top:4px;
	}
}

.input-group-sm{

	.input-group-prepend {
    	height: calc(1.5em + .5rem + -1px);
	}
}