  html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100%;
                margin: 0;
            }


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

main{
    height: 100%;
    >div{
        height: 100%;
    }

    aside{
        height: 100%;
    }
}

.pd-0{
    padding: 0!important;
}
.sm-pd{
    padding: 8px 20px!important;
}
.dark-bg{
    background-color: #ccc;
}
.white-bg{
    background-color: #fff;
}
.no-padding{
    padding:0!important;
}

/***** COLORS ******/
.color-green{
    color:$tsk-green!important;
}
.color-red{
    color:$tsk-red!important;
}
.color-yellow{
    color:$tsk-yellow!important;
}
.color-blue{
    color:$tsk-blue!important;
}

/***** BACKGROUNDS *****/

.bg-green{
    background-color:$tsk-green!important;
}
.bg-red{
    background-color:$tsk-red!important;
}
.bg-yellow{
    background-color:$tsk-yellow!important;
}
.bg-blue{
    background-color:$tsk-blue!important;
}

/******* ********/

*{
    box-sizing: border-box;
}

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 80px;
                top: 30px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 60px;
                color: $tsk-yellow;
                &--small{
                    font-size: 16px;
                }
            }

            .m-b-md {
                margin-bottom: 30px;
            }

.top-left{
	position:absolute;
	left: 65px;
	top:18px;
}
.logo{
	float: left;
	margin-right: 25px;

	img{
		max-width: 107px;
	}
}

a{
        color:$tsk-black;
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.5s ease 0s;
        position: relative;
        top: 0;
        font-weight: 700;
        text-decoration: none;
        &:hover{
            text-decoration:none;
            color: $tsk-green;
        }
}

.mr-10{
    margin-right: 10px!important;
}

main{
    min-height: 518px;
}

.input-group-sm .datetime{
    font-size: 11px!important;
    padding: 2px 3px!important;
    height: calc(1.5em + 1rem + -2px)!important;
}